name: TEST GH PAGES2

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Upload Build
        uses: actions/upload-artifact@v3
        with:
          name: cgs-WebGL
          path: build2/WebGL
